In [75]:
import mysql.connector
import json

In [76]:
# Open the JSON file

with open('data1.json') as f:

    data = json.load(f)

In [77]:
# Connect to MySQL

conn = mysql.connector.connect(

    host=" kore-dwa-interview.cnawrkmxrmmc.us-west-2.rds.amazonaws.com",

    user="svc_etl_remzy_dw",

    password="o4Hcee^31pXE",

    database="remzy_dw",
    
    port = "3306"

)

In [78]:
# Check if the connection is working
if conn.is_connected():
    print("Connection successful")
else:
    print("Connection failed")

Connection successful

In [79]:
#print database name
print(conn.database)

remzy_dw

In [80]:
# Create a cursor

cursor = conn.cursor()

In [81]:
# Loop through the JSON data and insert into MySQL

for item in data:

    # Define the SQL statement with placeholders for values

    sql = "INSERT INTO remzy_dw.Contacts (id, email,suffix,first_name,last_name, delivery_street, delivery_city, delivery_state, delivery_post_code, deliver_country, phone_number, do_not_call, updated_on,created_on)VALUES (%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s)"

   

    # Extract values from JSON data

    value1 = item['id']
    value2 = item['email']
    value3 = item['suffix']
    value4 = item['First_name']
    value5 = item['last_name']
    value6 = item['delivery_street']
    value7 = item['delivery_city']
    value8 = item['delivery_state']
    value9 = item['delivery_post_code']
    value10 = item['deliver_country']
    value11 = item['phonenumber']
    value12 = item['do_not_call']
    value13 = item['updated_on']
    value14 = item['created_on']
    

    # Execute the SQL statement with values

    cursor.execute(sql, (value1, value2, value3,value4, value5, value6,value7, value8, value9,value10, value11, value12,value13, value14))
    
  
    conn.commit()

In [82]:

conn.close()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s)' at line 1