In [18]:
import mysql.connector
import json

In [27]:
# Open the JSON file

with open('finalout.json') as f:

    data = json.load(f)

In [34]:
# Write the dictionary to a JSON file
with open('database_config.json', 'r') as f:
    C=json.load(f)

In [35]:
# Connect to MySQL

conn = mysql.connector.connect(

    host= C["HOST"],

    user=C["USER"],

    password=C["PASSWORD"],

    database=C["DATABASE"],
    
    port = C["PORT"]

)

In [36]:
# Check if the connection is working
if conn.is_connected():
    print("Connection successful")
else:
    print("Connection failed")

Connection successful

In [37]:
#print database name
print(conn.database)

remzy_dw

In [39]:
# Create a cursor

cursor = conn.cursor()

In [40]:
# Loop through the JSON data and insert into MySQL

for item in data:

    # Define the SQL statement with placeholders for values

    sql = """INSERT INTO remzy_dw.Contacts (id, email,first_name,last_name, delivery_street, delivery_city, delivery_state, 
            delivery_post_code, deliver_country, phone_number, do_not_call)
            VALUES (%s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s)"""

   

    # Extract values from JSON data

    value1 = item['ID']
    value2 = item['Email']
    value3 = item['FirstName']
    value4 = item['LastName']
    value5 = item['MailingStreet']
    value6 = item['MailingCity']
    value7 = item['MailingState']
    value8 = item['MailingPostalCode']
    value9 = item['MailingCountry']
    value10 = item['Phone']
    value11 = item['DoNotCall']
    
    

    # Execute the SQL statement with values

    cursor.execute(sql, (value1, value2, value3,value4, value5, value6,value7, value8, value9,value10, value11))
    
  
    conn.commit()

In [33]:

conn.close()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s)' at line 1