In [59]:
import json
import pandas as pd

In [157]:
import pandas as pd

df = pd.read_json('output_notTrue.json')
df=df['records'].apply(pd.Series)

df=df.drop('attributes',axis = 1)
df

,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
0,None,005Dn000002LA8CIAW,rose@edge.com,Rose,Gonzalez,"313 Constitution Place\nAustin, TX 78767\nUSA",None,None,None,None,False,(512) 757-6000,(512) 757-9340
1,None,005Dn000002LA8CIAW,sean@edge.com,Sean,Forbes,"312 Constitution Place\nAustin, TX 78767\nUSA",None,None,None,None,False,(512) 757-6000,(512) 757-4561
2,None,005Dn000002LA8CIAW,jrogers@burlington.com,Jack,Rogers,525 S. Lexington Ave,Burlington,NC,27215,USA,False,(336) 222-7000,None
3,None,005Dn000002LA8CIAW,pat@pyramid.net,Pat,Stumuller,2 Place Jussieu,Paris,None,75251,France,False,(014) 427-4427,(014) 454-6364
4,None,005Dn000002LA8CIAW,a_young@dickenson.com,Andy,Young,1301 Hoch Drive,Lawrence,KS,66045,USA,False,(785) 241-6200,(785) 265-5350
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,None,005Dn000002M1PFIA0,grace63@adventure-works.com,Grace,Simmons,3071 Asilomar,Issaquah,WA,98027,US,False,None,None
1483,None,005Dn000002M1PFIA0,grace64@adventure-works.com,Grace,Bryant,467 Moccasin Ct.,San Carlos,CA,94070,US,False,None,None
1484,None,005Dn000002M1PFIA0,grace64@adventure-works.com,Grace,Bryant,467 Moccasin Ct.,San Carlos,CA,94070,US,False,None,None
1485,None,005Dn000002M1PFIA0,grace65@adventure-works.com,Grace,Alexander,HÃ¶henstr 2462,Werne,NW,59368,DE,False,None,None
1486,None,005Dn000002M1PFIA0,patricia14@adventure-works.com,Patricia,Saunders,4908 Chickpea Ct.,Cranbourne,VIC,3977,AU,False,None,None

Empty DataFrame
Columns: [IndividualId, OwnerId, Email, FirstName, LastName, MailingStreet, MailingCity, MailingState, MailingPostalCode, MailingCountry, DoNotCall, Phone, MobilePhone]
Index: []

In [148]:
df.sort_values(['Email', 'Phone'], ascending=True,inplace=True)
df

,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
4,None,005Dn000002LA8CIAW,a_young@dickenson.com,Andy,Young,1301 Hoch Drive,Lawrence,KS,66045,USA,False,(785) 241-6200,(785) 265-5350
12,None,005Dn000002LA8CIAW,agreen@uog.com,Avi,Green,"1302 Avenue of the Americas \nNew York, NY 100...",None,None,None,None,False,(212) 842-5500,(212) 842-2383
14,None,005Dn000002LA8CIAW,ajames@uog.com,Ashley,James,"Kings Park, 17th Avenue, Team Valley Trading E...",None,None,None,None,False,+44 191 4956203,+44 191 3456234
409,None,005Dn000002LA8CIAW,alexa18@adventure-works.com,Alexa,Rogers,2233 California St.,Bellingham,WA,98225,US,False,(489) 555-0118,None
612,None,005Dn000002LA8CIAW,alexa19@adventure-works.com,Alexa,Reed,621 Brandywine Way,Lakewood,CA,90712,US,False,154-555-0154,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,None,005Dn000002LA8CIAW,zoe17@adventure-works.com,Zoe,Morris,734 Balboa Ct.,Palo Alto,CA,94303,US,False,(260) 555-0117,None
958,None,005Dn000002LA8CIAW,zoe21@adventure-works.com,Zoe,Morgan,3521 Fourth St.,Olympia,WA,98501,US,False,119-555-0117,None
302,None,005Dn000002LA8CIAW,zoe22@adventure-works.com,Zoe,Sanchez,792 Rahn Court,Olympia,WA,98501,US,False,137-555-0150,None
18,None,005Dn000002LA8CIAW,None,Siddartha,Nedaerk,The Landmark @ One Market,San Francisco,CA,94087,US,False,None,None
19,None,005Dn000002LA8CIAW,None,Jake,Llorrac,None,None,None,None,None,False,None,None

In [149]:
df.drop_duplicates(subset='Email', keep='first', inplace=True)
df

,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
4,None,005Dn000002LA8CIAW,a_young@dickenson.com,Andy,Young,1301 Hoch Drive,Lawrence,KS,66045,USA,False,(785) 241-6200,(785) 265-5350
12,None,005Dn000002LA8CIAW,agreen@uog.com,Avi,Green,"1302 Avenue of the Americas \nNew York, NY 100...",None,None,None,None,False,(212) 842-5500,(212) 842-2383
14,None,005Dn000002LA8CIAW,ajames@uog.com,Ashley,James,"Kings Park, 17th Avenue, Team Valley Trading E...",None,None,None,None,False,+44 191 4956203,+44 191 3456234
409,None,005Dn000002LA8CIAW,alexa18@adventure-works.com,Alexa,Rogers,2233 California St.,Bellingham,WA,98225,US,False,(489) 555-0118,None
612,None,005Dn000002LA8CIAW,alexa19@adventure-works.com,Alexa,Reed,621 Brandywine Way,Lakewood,CA,90712,US,False,154-555-0154,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,None,005Dn000002LA8CIAW,zoe16@adventure-works.com,Zoe,Cooper,1456 Lake Pl.,Fremont,CA,94536,US,False,(377) 555-0144,None
290,None,005Dn000002LA8CIAW,zoe17@adventure-works.com,Zoe,Morris,734 Balboa Ct.,Palo Alto,CA,94303,US,False,(260) 555-0117,None
958,None,005Dn000002LA8CIAW,zoe21@adventure-works.com,Zoe,Morgan,3521 Fourth St.,Olympia,WA,98501,US,False,119-555-0117,None
302,None,005Dn000002LA8CIAW,zoe22@adventure-works.com,Zoe,Sanchez,792 Rahn Court,Olympia,WA,98501,US,False,137-555-0150,None
18,None,005Dn000002LA8CIAW,None,Siddartha,Nedaerk,The Landmark @ One Market,San Francisco,CA,94087,US,False,None,None

In [150]:
# Drop all rows where the emailid column is null
df = df.dropna(subset=['Email'])
df

,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
4,None,005Dn000002LA8CIAW,a_young@dickenson.com,Andy,Young,1301 Hoch Drive,Lawrence,KS,66045,USA,False,(785) 241-6200,(785) 265-5350
12,None,005Dn000002LA8CIAW,agreen@uog.com,Avi,Green,"1302 Avenue of the Americas \nNew York, NY 100...",None,None,None,None,False,(212) 842-5500,(212) 842-2383
14,None,005Dn000002LA8CIAW,ajames@uog.com,Ashley,James,"Kings Park, 17th Avenue, Team Valley Trading E...",None,None,None,None,False,+44 191 4956203,+44 191 3456234
409,None,005Dn000002LA8CIAW,alexa18@adventure-works.com,Alexa,Rogers,2233 California St.,Bellingham,WA,98225,US,False,(489) 555-0118,None
612,None,005Dn000002LA8CIAW,alexa19@adventure-works.com,Alexa,Reed,621 Brandywine Way,Lakewood,CA,90712,US,False,154-555-0154,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,None,005Dn000002LA8CIAW,wayne8@adventure-works.com,Wayne,Yuan,"19, rue de lÂ´Esplanade",Paris,75,75019,FR,False,1 (11) 500 555-0137,None
133,None,005Dn000002LA8CIAW,zoe16@adventure-works.com,Zoe,Cooper,1456 Lake Pl.,Fremont,CA,94536,US,False,(377) 555-0144,None
290,None,005Dn000002LA8CIAW,zoe17@adventure-works.com,Zoe,Morris,734 Balboa Ct.,Palo Alto,CA,94303,US,False,(260) 555-0117,None
958,None,005Dn000002LA8CIAW,zoe21@adventure-works.com,Zoe,Morgan,3521 Fourth St.,Olympia,WA,98501,US,False,119-555-0117,None
302,None,005Dn000002LA8CIAW,zoe22@adventure-works.com,Zoe,Sanchez,792 Rahn Court,Olympia,WA,98501,US,False,137-555-0150,None

In [151]:
df = df.reset_index().rename(columns={'index': 'ID'})
df

,ID,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
0,4,None,005Dn000002LA8CIAW,a_young@dickenson.com,Andy,Young,1301 Hoch Drive,Lawrence,KS,66045,USA,False,(785) 241-6200,(785) 265-5350
1,12,None,005Dn000002LA8CIAW,agreen@uog.com,Avi,Green,"1302 Avenue of the Americas \nNew York, NY 100...",None,None,None,None,False,(212) 842-5500,(212) 842-2383
2,14,None,005Dn000002LA8CIAW,ajames@uog.com,Ashley,James,"Kings Park, 17th Avenue, Team Valley Trading E...",None,None,None,None,False,+44 191 4956203,+44 191 3456234
3,409,None,005Dn000002LA8CIAW,alexa18@adventure-works.com,Alexa,Rogers,2233 California St.,Bellingham,WA,98225,US,False,(489) 555-0118,None
4,612,None,005Dn000002LA8CIAW,alexa19@adventure-works.com,Alexa,Reed,621 Brandywine Way,Lakewood,CA,90712,US,False,154-555-0154,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,602,None,005Dn000002LA8CIAW,wayne8@adventure-works.com,Wayne,Yuan,"19, rue de lÂ´Esplanade",Paris,75,75019,FR,False,1 (11) 500 555-0137,None
1473,133,None,005Dn000002LA8CIAW,zoe16@adventure-works.com,Zoe,Cooper,1456 Lake Pl.,Fremont,CA,94536,US,False,(377) 555-0144,None
1474,290,None,005Dn000002LA8CIAW,zoe17@adventure-works.com,Zoe,Morris,734 Balboa Ct.,Palo Alto,CA,94303,US,False,(260) 555-0117,None
1475,958,None,005Dn000002LA8CIAW,zoe21@adventure-works.com,Zoe,Morgan,3521 Fourth St.,Olympia,WA,98501,US,False,119-555-0117,None
1476,302,None,005Dn000002LA8CIAW,zoe22@adventure-works.com,Zoe,Sanchez,792 Rahn Court,Olympia,WA,98501,US,False,137-555-0150,None

In [154]:
#Validation-repeating emails

#df[df.duplicated(subset=['Email'])]
#df[df['Email']=="grace64@adventure-works.com"]
#df[df['Email']=="alicia7@adventure-works.com"]
#df[df['Email']=="patricia14@adventure-works.com"]

#Validation- if any donotcall == true
##df[df["DoNotCall"]!=False]

,ID,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
587,343,None,005Dn000002LA8CIAW,grace64@adventure-works.com,Grace,Bryant,467 Moccasin Ct.,San Carlos,CA,94070,US,False,(852) 555-0120,None

In [156]:
df.to_json('finalout.json',orient='records')